aws-lambda-powertools~=2.8.0
aws-xray-sdk~=2.11.0
boto3-stubs~=1.26.0
boto3-stubs[essential]~=1.26.0
boto3-stubs[sts]~=1.26.0
boto3-stubs[organizations]~=1.26.0
boto3-stubs[stepfunctions]~=1.26.0
boto3-stubs[s3]~=1.26.0
boto3-stubs[glacier]~=1.26.0
boto3-stubs[iam]~=1.26.0
boto3-stubs[sns]~=1.26.0
boto3-stubs[sqs]~=1.26.0
boto3-stubs[lambda]~=1.26.0
boto3-stubs[efs]~=1.26.0
boto3-stubs[secretsmanager]~=1.26.0
boto3-stubs[iot]~=1.26.0
boto3-stubs[kms]~=1.26.0
boto3-stubs[apigateway]~=1.26.0
boto3-stubs[events]~=1.26.0
boto3-stubs[sesv2]~=1.26.0
boto3-stubs[ecr]~=1.26.0
boto3-stubs[config]~=1.26.0
boto3-stubs[ssm-incidents]~=1.26.0
boto3-stubs[opensearch]~=1.26.0
boto3-stubs[cloudformation]~=1.26.0
boto3-stubs[glue]~=1.26.0
boto3-stubs[serverlessrepo]~=1.26.0
boto3-stubs[backup]~=1.26.0
boto3-stubs[codeartifact]~=1.26.0
boto3-stubs[codebuild]~=1.26.0
boto3-stubs[mediastore]~=1.26.0
boto3-stubs[ec2]~=1.26.0
cfnresponse~=1.1.2
requests~=2.28.1
pyparsing~=3.0.9