mock==5.1.0
moto==5.0.14
boto3-stubs[essential]~=1.34.0
moto[sts]~=5.0.14
moto[organizations]~=5.0.14
moto[stepfunctions]~=5.0.14
moto[s3]~=5.0.14
moto[glacier]~=5.0.14
moto[iam]~=5.0.14
moto[sns]~=5.0.14
moto[sqs]~=5.0.14
moto[lambda]~=5.0.14
moto[efs]~=5.0.14
moto[secretsmanager]~=5.0.14
moto[iot]~=5.0.14
moto[kms]~=5.0.14
moto[apigateway]~=5.0.14
moto[events]~=5.0.14
moto[sesv2]~=5.0.14
moto[ecr]~=5.0.14
moto[config]~=5.0.14
moto[ssm-incidents]~=5.0.14
moto[opensearch]~=5.0.14
moto[cloudformation]~=5.0.14
moto[glue]~=5.0.14
moto[serverlessrepo]~=5.0.14
moto[backup]~=5.0.14
moto[codeartifact]~=5.0.14
moto[codebuild]~=5.0.14
moto[mediastore]~=5.0.14
moto[ec2]~=5.0.14
pytest==7.4.2
pytest-mock==3.12.0
pytest-runner==6.0.0
pytest-describe==2.1.0
pytest-cov==4.1.0
openapi-spec-validator==0.7.1
docker==6.1.3